<div class="bgimg-1">
    <img src="assets/lab4.jpg" alt="" width="1400" height="600">

    <!--div class="elementor-widget-container">
        <h2 class="elementor-heading-title elementor-size-default">Find The Chemical Reaction</h2>
    </div-->

    <div class="widget-job-search-form ">
        <form class="form-search filter-listing-form-wrapper">
            <div class="filter-listing-form horizontal ">
                <div class="main-inner clearfix">
                    <div class="content-main-inner">
                        <div class="row search-element">
                            <div class="col-xs-12 col-md-9 search-bar">
                                <div class="form-group form-group-title  ">
                                    <div class="form-group-inner inner has-icon">
                                        <i class="flaticon-magnifiying-glass"></i>
                                        <input type="text" name="filter-title" class="form-control " value=""
                                            id="Q6mjS_title" placeholder="structure search, Reaction Search, or Document Search">
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-submit flex-middle col-xs-12 col-md-3">

                                <button class="btn-submit btn btn-theme btn-inverse" type="submit">
                                    Search </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="row" style="margin-left:30px; margin-top:30px;">
  <div class="col-8" style="background-color:#fafafa;  width:60%; margin: 10px;">
    <div class="services">
      <div class="service">
          <h2>Multinational Pharma</h2>
          <ul>
              <li>Access to advanced retrosynthetic planning tools to enhance medicinal chemists' research productivity</li>
              <li>Integration with existing workflows to streamline the discovery and development process</li>
              <li>Data-driven insights to reduce trial-and-error, saving time and resources</li>
          </ul>
      </div>
  
      <div class="service">
          <h2>Small and Mid-Sized Biotech</h2>
          <ul>
              <li>Cost-effective robotic synthesis services for outsourced chemistry, enabling faster turnaround</li>
              <li>Reach synthetic tools to efficiently manage and accelerate the drug discovery pipeline</li>
              <li>Support from an intelligent platform that scales with company growth</li>
          </ul>
      </div>
  
      <div class="service">
          <h2>Academic Institutions</h2>
          <ul>
              <li>Lab management systems tailored to academic research environments</li>
              <li>CRO services that facilitate cutting-edge research and educational opportunities</li>
              <li>Access to a platform that supports the entire lifecycle of chemical research and teaching labs</li>
          </ul>
      </div>
  </div>
  
  
  </div>
  <div class="col-4" style="background-color:#fafafa;">
    <div class="bgimg-1">
      <img src="assets/science.avif" alt="" style="width: auto; height: 600px; border-radius: 10px;">
    </div>
</div>


<div class="container" style="margin-left:90px; margin-top:100px;">
  
  <div class="product-card">
    <div class="product-img"> 
      <img src="assets/chemical3.avif" alt="" style="width: 248px; height: 150px;">
    </div>
    <div class="product-text">
      <h3>RXN Finder</h3>
      <p>Efficient and diverse chemical retrosynthesis route planning
        Combines the best of both rule-based and generation-based approaches
        Blind tested equivalence to medicinal chemists with 10+ years' experience
        </p>
    </div>
    <div class="product-cart">
      <button type="submit">Know More</button>
    </div>
  </div>
  
  <div class="product-card">
    <div class="product-img">
      <img src="assets/chemical1.jpg" alt="" style="width: 248px; height: 150px;">
    </div>
    <div class="product-text">
      <h3>e-commerce</h3>
      <p>Advanced UI interface for enhanced chemical research productivity
        Features real-time pricing and predictive route mapping
        Swift integration of internal data to improve learning and reduce costs
        </p>
    </div>
    <div class="product-cart">
      <button type="submit">Know More</button>
    </div>
  </div>
  
  <div class="product-card">
    <div class="product-img">
      <img src="assets/chemical2.jpg" alt="" style="width: 248px; height: 150px;">
    </div>
    <div class="product-text">
      <h3>patentscope</h3>
      <p>High-throughput automation lab to synthesize molecules with low cost and fast speed
        Streamlined lab management with ChemAIOS system to reduce avoidable errors
        Automated, smart lab environment highly customizable to client needs
        WHO</p>
    </div>
    <div class="product-cart">
      <button type="submit">Know More</button>
    </div>
  </div>
</div>


<!-- VIDEOS -->



<div class="row video" style="background-color:#0056b3; padding:20px;" >
    <div class="col-sm-6">
        <div class="widget-video">
            <div data-aos="fade-up" data-aos-duration="3000">
                <video width="100%" controls>
                    <source src="assets/video.webm" type="video/mp4">
                    <source src="assets/video.webm" type="video/ogg">
                    Your browser does not support HTML video.
                </video>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="height: 372px; font-size=20px; color:#ffffff"> GET IN TOUCH TO DISCUSS YOUR NEED
      <div class="widget-text" style="height: 400px; color:white;">
                 <p class="para">Our website <b style="color:fafafa;">BharatChem</b> offers a seamless solution for converting SMILES notation into comprehensive molecular structures
                 and chemical formulas. With just a few clicks, users can input SMILES strings representing chemical compounds
                 and instantly visualize their molecular structures in 2D or 3D renderings. offering valuable insights into its elemental composition.
                   Whether you're a seasoned chemist, a student, or an enthusiast, our website empowers you to explore and understand chemical
                    structures with unparalleled ease and efficiency. Join us today and unlock the potential of molecular visualization and analysis!
                    our website empowers you to explore and understand chemical structures with unparalleled ease and efficiency. 
                  Explore a Molecular Structures 
               </p>
        </div>
    </div>
</div>

<div class="row" style="background-color:#e6ecf0;">
  <div class="col-5">
    <div class="contact-form">
      <h2>Contact Us</h2>
      <form>
          <div class="form-group">
              <label for="company-address">Company Address:</label>
              <input type="text" id="company-address" name="company-address">
          </div>
          <div class="form-group">
              <label for="phone-number">Phone Number:</label>
              <input type="tel" id="phone-number" name="phone-number">
          </div>
          <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email">
          </div>
          <div class="form-group">
              <label for="country">Country:</label>
              <input type="text" id="country" name="country">
          </div>
          <div class="form-group">
              <label for="message">Message:</label>
              <textarea id="message" name="message" rows="4"></textarea>
          </div>
          <button type="button" class="btn btn-primary">submit</button>
        </form>
    </div>
  </div>
  <div class="col-7" style="margin-top:100px">
    <img src="assets/nature.png" alt="Mountains" width="600" height="400">
</div>
</div>



<!-- COUNTDOWN -->

<!-- <section id="section3" class="section-margine section3-background" >
    <img src="assets/back1.jpg" alt="">

    <div class="container count-down">
      <div class="row count_number">
        <div class="col-md-3 col-sm-6 column_number">
          <div class="section-3-box">
            <figure><i class='fas fa-desktop' style='font-size:48px;color:red'></i></figure>
            <h3><span class="counter">60000</span>+</h3>
            <h4>Biosynthetic Chemicals</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="section-3-box">
            <figure><i class="fa fa-group fa-2x"></i></figure>
            <h3><span class="counter">300000</span>+</h3>
            <h4>Biosynthetic Reactions</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="section-3-box">
            <figure><i class="fa fa-coffee fa-2x"></i></figure>
            <h3><span class="counter">240000</span>+</h3>
            <h4>Biosynthetic Enzymes</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="section-3-box">
            <figure><i class="fa fa-glass fa-2x"></i></figure>
            <h3><span class="counter">9000</span>+</h3>
            <h4>Biosynthetic Strains</h4>
          </div>
        </div>
      </div>
    </div>
  <div class="container count-down">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="section-3-box">
            <figure><i class="fa fa-desktop fa-2x"></i></figure>
            <h3><span class="counter">60000</span>+</h3>
            <h4>Biosynthetic Chemicals</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="section-3-box">
            <figure><i class="fa fa-group fa-2x"></i></figure>
            <h3><span class="counter">300000</span>+</h3>
            <h4>Biosynthetic Reactions</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="section-3-box">
            <figure><i class="fa fa-coffee fa-2x"></i></figure>
            <h3><span class="counter">240000</span>+</h3>
            <h4>Biosynthetic Enzymes</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="section-3-box">
            <figure><i class="fa fa-glass fa-2x"></i></figure>
            <h3><span class="counter">9000</span>+</h3>
            <h4>Biosynthetic Strains</h4>
          </div>
        </div>
      </div>
    </div>
</section> -->



<!-- 
<div class="text-over-img">
    <img src="assets/back1.jpg" alt="Snow" style="width:100%;">
    <div class="centered">Centered</div>
    <div class="container count-down">
    <div class="row count_number">
        <div class="col-md-3 col-sm-6 column_number">
          <div class="section-3-box">
            <i class='fas fa-desktop' style='font-size:48px;color:red'></i>
            <h3><span class="counter">60000</span>+</h3>
            <h4>Biosynthetic Chemicals</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 column_number">
          <div class="section-3-box">
            <figure><i class="fa fa-group fa-2x"></i></figure>
            <h3><span class="counter">300000</span>+</h3>
            <h4>Biosynthetic Reactions</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 column_number">
          <div class="section-3-box">
            <figure><i class="fa fa-coffee fa-2x"></i></figure>
            <h3><span class="counter">240000</span>+</h3>
            <h4>Biosynthetic Enzymes</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 column_number">
          <div class="section-3-box">
            <figure><i class="fa fa-glass fa-2x"></i></figure>
            <h3><span class="counter">9000</span>+</h3>
            <h4>Biosynthetic Strains</h4>
          </div>
        </div>
      </div>
    </div>


    </div> -->
<!-- FOOTER -->
    <div class="  Set_bgcolor text-center" style="margin-left: -12px; background: #0056b3;">

        <h1>Explore a Molecular Structures Now!</h1>
        <span class="text-center mb-3">WORLD-LEADING BIOSYNTHETIC <br>
            BIG DATA AND DESIGN SERVICE PROVIDER</span>
    
            <button class=" d-flex mx-auto mt-4" id="explore" (click)="goToCategories()">Explore Scientific Search</button>
        </div>
    
    
    <footer class="footer-distributed" style="margin-left: -12px; background: #0056b3;">
       
        <div class="div_center">
    
            <div>
                <h3>BharatChem</h3>
            </div>
            <div class="margin_left">
    
                <p class="footer-links">
                    <a (click)="goToStructure()" class="link-1">Home</a>
    
                    <a >About Us</a>
    
                    <a >Contact Us</a>
    
                    <a >FAQ</a>
    
                </p>
            </div>
            <div class="links cursor_pointer">
                <div class="col-social">
                    <a href="#"><img src="assets/facebook.png" class="social-icon"></a>
                    <a href="#"><img src="assets/instagram.png" class="social-icon"></a>
                    <a href="#"><img src="assets/snapchat.png" class="social-icon"></a>
                    <a href="#"><img src="assets/twitter.png" class="social-icon"></a>
                </div>
            </div>
    
    
            <!-- <i class="fa fa-map-marker">mapppp</i> -->
            <!-- <a (click)="goToFaq()">FAQ</a>
                    </p>
    
                    <p class="footer-company-name" style="color: #706e6e;">© 2024 MPS,  All Right Reserved.</p>-->
        </div>
    
    
        <div class="pb-3 set_footer_div">
            <div class="col mt-3">
                <p class="footer-company-name">© 2024 BharatChem, All Right Reserved.</p>
            </div>
            <div class="col footer-company-name set_footer1_div">
                <a >Privacy & Policy</a> &nbsp;<a >Terms & Conditions</a>
            </div>
        </div>
    
    </footer>